<a href="https://colab.research.google.com/github/vaishnavialluru/c-programmes/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value

In [1]:
y=input()
print(y)

8
8

Use of print statements and use of (.format )for printing different data types

In [6]:
a=15.5;
print(type(a));
#before conversion
b=str(a);
print(b);
print(type(b));
#after conversion
e=complex(a);
print(e);
print(type(e));
c=int(a);
print(c);
print(type(c));
d=bool(a);
print(d);
print(type(d));

<class 'float'>
15.5
<class 'str'>
(15.5+0j)
<class 'complex'>
15
<class 'int'>
True
<class 'bool'>

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [3]:
no1=int(input())
no2=int(input())
sum=no1+no2
multi=no1*no2
div=no1/no2
sub=no1-no2
print(sum,multi,div,sub)

85
55
140 4675 1.5454545454545454 30

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [4]:
hour=int(input())
miles=int(input())
min=hour*60
km=1.60934*miles
print(min,km)

7
8
420 12.87472

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

In [5]:
import math
print(math.ceil(8.4))
print(math.floor(7.4))
print(math.fabs(-90))
print(math.fmod(12, 4))
print(math.trunc(7.77))
y = pow(5, 2)
print(y)
print (math.sqrt(49))

9
7
90.0
0.0
7
25
7.0

Building a mathematical calculator that can perform operations according to user input.

In [7]:
no1 = float(input("Enter 1st number: "))
no2 = float(input("Enter 2nd number: "))
print("Operation: +, -, *, /")
select = input("Select operations: ")
if select == "+":
    print(no1, "+", no2, "=", no1+no2)
elif select == "-":
    print(no1, "-", no2, "=", no1-no2)
elif select == "*":
    print(no1, "*", no2, "=", no1*no2)
elif select == "/":
    print(no1, "/", no2, "=", no1/no2)
else:
    print("Invalid input")

Enter 1st number: 7
Enter 2nd number: 9
Operation: +, -, *, /
Select operations: /
7.0 / 9.0 = 0.7777777777777778

Accepting 5 different subject marks from user and displaying the grade of the student

In [8]:
eng=int(input())
phy=int(input())
evpr=int(input())
chem=int(input())
math=int(input())
tot=(eng+phy+evpr+chem+math)/5
if tot > 90:
  print("A")
elif tot > 80 :
  print("B")
elif tot > 70 :
  print("C")
elif tot > 60 :
  print("D")    
elif tot > 50 :
  print("E")
elif tot > 40 :
  print("F")86

90
7
3
55
99
E

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [12]:
no1=int(input())
no2=int(input())
c=0  #c is count of even numbers
o=0 
for x in range(no1,no2):
  if(x%2==0) :
    print(x)
    c=c+1
  elif(x%2!=0) :
    print("0is odd",x)
    o=o+1
print(c)
print(o)

6
9
6
0is odd 7
8
2
1

Compute the factorial of a given number

In [13]:
number = int(input("Enter a no: "))    
factorial = 1    
if number < 0:    
   print(" Factorial does not exist for negative nos")    
elif number == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,number + 1):    
       factorial = factorial*i    
   print("The factorial of",number,"is",factorial)

Enter a no: 8
The factorial of 8 is 40320

Compute GCD of two given numbers

In [14]:
x =int(input("Enter a no: ")) 
y =int(input("Enter a no: "))
if x > y:
  x, y = x, y
for i in range(1,x+1):
  if x%i == 0 and y%i == 0:
    gcd = i

print("GCD of", x, "and", y, "is:", gcd)

Enter a no: 4
Enter a no: 6
GCD of 4 and 6 is: 2

Generate Fibonacci series up to N numbers

In [16]:
n = int(input())
num1, num2 = 0, 1
c = 0
print("Fibonacci sequence:")
while d < n:
       print(num1)
       nth = num1 + num2
       num1 = num2
       num2 = nth
       d += 1

8
Fibonacci sequence:
0
1

Check whether the given input is palindrome

In [17]:
no=int(input("Enter a nober:"))
x=no
reverse=0
while(no>0):
    dgiit=no%10
    reverse=reverse*10+dgiit
    no=no//10
if(x==reverse):
    print("It is a palindrome!")
else:
    print("Not a palindrome!")

Enter a nober:9
It is a palindrome!

Check whether the given input is strong

In [18]:
num=int(input("Enter a number:"))
sum=0
act=num
while(num):
    i=1
    f=1
    r=num%10
    while(i<=r):
        f=f*i
        i=i+1
    sum=sum+f
    num=num//10
if(sum==act):
    print("The number is a strong number")
else:
    print("The number is not a strong number")

Enter a number:4
The number is not a strong number

Check whether the given input is perfect

In [21]:
no=int(input("Enter a number:"))
x=0
for i in range(1, no):
    if(no % i == 0):
        x = x + i
if (x == no):
    print("Perfect nober")
else:
    print("not a Perfect nober")

Enter a number:7
not a Perfect nober

Compute compound interest using loop for a certain principal and interest amount

In [24]:
x=int(input("principle amount:"))
rate=int(input("rate:"))
years=int(input("number of years:"))
for i in range(years):
    x=x+((x*rate)/100)
print(x)

principle amount:5
rate:3
number of years:1
5.15